server {
    listen 80;
    server_name {DOMAIN};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias {APP_DIR}/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:{SOCKET_FILE};
    }
}